<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Eggs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let egg of eggs">
      <!-- <ion-icon [name]="item.icon" slot="start"></ion-icon> -->
      {{egg.DateCreated}}
      <div class="item-note" slot="end">
        {{ egg.Total }}
      </div>
    </ion-item>

  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
